<!DOCTYPE html>
<html>
    <head>
        <title>Modal Validation Form</title>
        <link rel="stylesheet" type="text/css" href="Modal Validation Form.css">
        <meta charset="utf-8">
    </head>
    <body>
        <script src="../jquery-3.4.1.min.js"></script>
        <script src="Modal Validation Form.js"></script>
        <script src="../Ajax eror messages.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <div class="Modal__Form__container">
            <div class="form">
                <div class="content">
                    <div class="signup">SIGN UP</div>
                    <div class="login">LOG IN</div>
                    <form class = "sign_up_form" id="validation-form-sign" method="POST" action="/register" role="form">
                        <div class="container_input">
                            <input type="text" id="username" name="username" placeholder="Your name">
                            <p class="circle__element__positive"></p>
                            <p class="circle__element__negative"></p>
                            <small class = "error">Error</small>
                        </div>
                        <div class="container_input">
                            <input type="email" id="email" name="email" placeholder= "Your email adress">
                            <p class="circle__element__positive"></p>
                            <p class="circle__element__negative"></p>
                            <small class = "error">Error</small>
                        </div>
                        <div class="container_input">
                            <input type="password" id="password" name = "password" placeholder="Your password">
                            <p class="circle__element__positive"></p>
                            <p class="circle__element__negative"></p>
                            <small class = "error">Error</small>
                            <p class = "error_server"></p>
                        </div>
                        <input class="submit_button" type="submit" value="CREATE ACCOUNT"/>
                    </form>

                    <form class = "log_in_form" id="validation-form-login" method="post" action="/login">
                        <div class="container_input">
                            <input type="text" id="username_login" name="username" placeholder="Your name">
                            <p class="circle__element__positive"></p>
                            <p class="circle__element__negative"></p>
                            <small class = "error">Error</small>
                        </div>
                        <div class="container_input">
                            <input type="password" id="password_login" name = "password" placeholder="Your password">
                            <p class="circle__element__positive"></p>
                            <p class="circle__element__negative"></p>
                            <small class = "error">Error</small>
                            <p class = "error_login"></p>
                        </div>
                        <input class="login_button" type="submit" value="LOG IN"/>
                    </form>
                </div>
            </div>
            <div class="table__user__data">
            </div>
        </div>
    </body>
</html>