<!DOCTYPE html>
<html>
    <head>
        <title>Modal Validation Form</title>
        <link rel="stylesheet" type="text/css" href="User.css">
        <meta charset="utf-8">
    </head>
    <body>
        <p>Hi {{username}}.You logged in successfully!</p>
        <form action="/profile/{id}" method="post">
            <input type = "submit" value="LogOut">
        </form>
    </body>
</html>